@charset "utf-8";
/*portpolio - 1st 메인페이지 CSS - main.css*/

/*공통외부css*/
@import url(core.css);
@import url(reset.css);
@import url(grid_bg.css);
@import url(grid_set.css);

body::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /*크기는 부모를 기준함
    (body에 relative가 없으면 보이는 화면이 기준)*/
    background-image: url(../images/capture.png);
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
    opacity: 0;
 }
body{
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
}

/*각 영역별 셋팅*/

/***********1.상단영역***********/
#top{
    position: relative;
    /*GNB Line박스의 부모*/
    z-index: 9999;/*가장위!*/
    
}

.t1{
    height: 115px;
    
}
/*로고*/
.logo{
       margin-top: 21px;
       margin-left: -10px;
}
.logo img{
    max-width: 100%;
}

/*햄버거 버튼*/
#ham{
    position: absolute;
    top: 4px;
    left: 0;
    
    background-color: transparent;
    border: none;
    display: none;/*처음에 안보임*/
}
#ham img{
    width: 25px;
    height: 21px;
    padding: 15px;
}
/*공연전체보기 버튼*/
#magni{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    display: none;/*처음에 안보임*/
}
#magni img{
    width: 39px;
    height: 32px;
    padding: 15px 14px 17px;
}

/*티베뉴*/
.tmenu{
    width: 725px;
    margin-top: 5px;/*5px*/
    margin-left: 255px;
}
/*글자사이에 | 삽입*/
.tmenu li+li::before {
    content: "|";
    margin: 0 8px;
    font-size: 0.5rem;
    vertical-align: 0px;
}
/* ENG 글자체 변경 */
.tmenu li:nth-child(3){
    font-family: 'arial';
}
/*마지막 글자 뒤에 | 없애기*/
.tmenu li:last-child::before {
    opacity: 0;
}
.tmenu li:nth-child(7)::before{
    opacity: 0;
}

.tmenu a{
    color: #FFF;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
}
/*검색 이미지&텍스트*/
.search{
    margin-left: -7px;
    margin-top: -2px;
}
.search a{
    color: #B5996D;
    
}
/*SNS아이콘*/
.tmenu button{
    margin-left: -5px;
    border: none;
}
.tmenu button a{
    display: block;
    width: 100%;
    height: 100%;
}
.tmenu button img{
    width: 38px;
    height: 28px;
}
.top_btn{
    margin-top: -7px;
    margin-left: -5px;
}

/*GNB 메뉴 100% 라인박스*/
.gnbline{
    position: absolute;
    top: 117px;
    left: 0;
    /*나의 부모는? #top*/
    width: 100%;
    height: 0px; /*294px;*/
    background-color: #121416;
    border-bottom: 3px solid #cd0102;
    box-shadow: 0 2px 1px #999;
    /*transition: height .2s linear;*/
    /*트랜지션:속시이지-.gnb의 트랜지션과 동일!*/
    z-index: 1;
    overflow: hidden;
}
/*gnbline 중앙에 960px 박스를 가상요소로 넣고 배경넣기*/
.gnbline::after{
    position: absolute;
    top: 160px;
    left: 50%;
    width: 180px;
    transform: translateX(-540px);
    content: "인 하우스 아티스트 시리즈 I. KCO (21.03.11)";
    display: block;
    color: aliceblue;
    opacity: ;
}
.gnbline::before{
    content: "";
    display: block;
    background: #121416 url(../images/inhouse_kojam_1.jpg) no-repeat;
    width: 1176px;
    height: 100%;
    margin: 0 auto;/*가로중앙*/
    background-position: 45px 30px;
}


/********* GNB 메뉴 ************/
.gnb {
    position: absolute;
    top: 66px;
    left: 267px;
    /*부모? .navbx*/
    
    /*높이값을 설정하여 자식요소 숨기기/보이기*/
    height: 47px;
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    /*transition: height .2s linear;*/
    /*트랜지션:속시이지*/
    line-height: 35px;
    background-color: #121416;
    /*outline: 5px dotted blue;*/
}
.gnb ul{
    line-height: 23px;
}
.gnb ul li{
    float: none;
}
/*.gnb에 마우스 오버시 높이값 변경하여 하위메뉴 보이기*/
.gnb:hover{
    height: 345px;
}



/*각 dl박스*/
.gnb dl {
    position: relative;
    /*부모자격*/ 
    width: 167px;
    height: 172px;
    
    float: left;
    /*옆으로 흐르게*/
    box-sizing: border-box;
    padding-left: 20px;
    
    /*outline: 2px dotted red;*/
}
.gnb dl:nth-child(2){
    width: 164px;
    
}
.gnb dl:nth-child(3){
    width: 125px;
}
.gnb dl:nth-child(4){
    width: 131px;
}
.gnb dl:nth-child(5){
    width: 169px;
}
.gnb dl:nth-child(6){
    width: 150px;
}

.gnb dl:nth-child(2) ~ dl {
    padding-left: 19px;
}

/*최상위 메뉴(dt)*/
.gnb dt {
    font: 1rem Nanum Gothic;
    margin-bottom: 8px;
}
.gnb dt a{
    color: #fff;
}

/*dl에 마우스 오버시 dt의 a의 글자색 빨간색*/
.gnb dl dt:hover a {
    color: #f00;
}


/*하위메뉴(dd)*/
.gnb dl dt{
    margin-bottom: 45px;
}
.gnb dd a {
    /*vertical-align: middle;*/
    color: #969697;
    font-size: 0.875rem;
    font-weight: bold;
}
.gnb dl li a{
    font-size: 0.8125rem;
}
/*하위메뉴에 마우스 오버시 글자색 변경*/
.gnb dd:hover a {
    color: #ED1C24;
    text-decoration: underline;
}


/************2.배너영역************/
.b1{
    height: 753px;
}
/*메인 빅 배너*/
.big_ban{
    margin-left: -10px;
    margin-top: 48px;
    width: 444px;
    height: 618px;
    /*background-color: aqua;*/
    /*opacity: .3;*/
     overflow: hidden;
}
 #slide {
     position: relative;
     /*사진을 싸고 있는 슬라이드*/
     top: 0;
     left: 0;
     /*모든 슬라이드 5장이 옆으로 나열되도록 
            width 크기를 확보해야한다!!!*/
     width: 500%;
     /*5배크기*/
     height: 100%;
 }
 #slide li {
     /*부모가 5배되었으므로 5등분함!*/
     width: 20%;
     height: 100%;
 }
 #slide li img {
     /*이미지는 박스에 맞춤!*/
     width: 100%;
     height: 100%;
 }
/*버튼*/
.indic{
    margin-top: 34px;
    margin-left: 144px;
    width: 150px;
    height: 28px;
    
    
}
/*회색 버튼*/
.cir_off li{
    position: relative;
    margin-right: 10px;
    width: 11px;
    height: 10px;
    cursor: pointer;
}
.cir_off li img{
    position: absolute;
}
.cir_off li img:last-child{
    opacity: 0;
}
.cir_off li.on img:last-child{
    opacity: 1;
}
.cir_off li:nth-child(2){
    margin-left: 15px;
}
.cir_off li img:last-child{
    top: -3.2px;
    left: -3.4px;
}
.cir_off li:first-child img:last-child{
    top: 2px;
    left: 0px;
}
/*빨간버튼*/
/*.cir_on{
    margin-left: 32px;
    opacity: 0;
    
}
.cir_on li{
    margin-top: -4px;
    margin-right: 0px;
}*/
.col-5{
    width: 38.66%;
    
}
/*******스몰배너*******/
.all{
    margin-left: 511px;
    margin-top: 5px;
}
/*포스터 메뉴*/
.pli1{
    margin-top: 4px;
}
.pli2{
    margin-top: 6px;
}
.plist{
    width: 708px;
    height: 45%;
    overflow: hidden;
    /*outline: 1px solid yellow;*/
}
.pli1 ul>li:nth-child(1){
    margin-top: 42px;
    margin-left: 14px;
}

.pli1 ul>li:nth-child(2){
    margin-left: 24px;
}
.pli1 ul>li:nth-child(3){
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 0;
    padding-right: 0;
}
.pli2 ul>li:nth-child(1){
    margin-top: 42px;
    margin-left: 13px;
}
.pli2 ul>li:nth-child(2){
    margin-left: 24px;
}
.pli2 ul>li:nth-child(3){
    margin-top: 44px;
    margin-left: 21px;
    margin-right: 0;
    padding-right: 0;
}
.plist ul{
    
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.plist ul li{
    position: relative;
}
.plist ul > li{
    float: left;
    padding: 0 10px;
    cursor: pointer;
}
/*포스터 이미지 크기*/
.plist img{
    width: 200px;
    height: 280px;
    /*opacity: .95;*/
}
/*포스터에 오버되는 박스*/
ol.movtxt{
    position: absolute;
    top: 0;
    width: 200px;
    height: 280px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    color: #f1f1f2;
    /*font-weight: bold;*/
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 25px;
    opacity: 0;
    
    }
.movtxt li{
    float: none;
    margin-top: 40px;
}
.movtxt li:last-child img{
    width: 58px;
    height: 59px;
    margin-top: 40px;
}

/*6번째 스몰배너 view이미지 위치 조정*/
.view{
    margin-top: 60px;
}
/*마우스 오버시 .movtxt 올라오기*/
.plist>ul>li:hover .movtxt{
    opacity: 1;
  }
/*************************/
/********가로 배너********/
.wlist{
    width: 363px;
    height: 235px;
}
.wlist img{
    width: 100%;
    height: 100%;
}
/*포스터 위치 잡기*/
.w1{
    margin-top: -7px;
    margin-left: -9px;
}
.w2{
    margin-top: -7px;
    margin-left: 3px;
}
.w3{
    margin-top: -7px;
    margin-left: 19px;
}
.wlist ul li{
    position: relative;
}

ol.movtxt2{
    position: absolute;
    top: 0px;
    width: 363px;
    height: 235px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 25px;
    opacity: 0;
}
.movtxt2 li{
    float: none;
    margin-top: 25%;
}
.movtxt2 li img{
    width: 58px;
    height: 59px;
}
/*마우스 오버시 .movtxt 올라오기*/
.wlist>ul>li:hover .movtxt2{
    opacity: 1;
  }
/***************************/
.b2{
    height: 320px;
}
.col-7{
    width: 61.34%;
}
/************3.컨텐츠영역**********/
.c1{
    height: 296px;
    padding: 0;
}
/*공지사항 박스*/
.notice{
    font-size: 0.875rem;
    line-height: 39px;
    margin-top: 5px;
}
.notice ul li{
   float: none;
}
.notice li a{
   color: #fff;
}
/*공지사항*/
.notice ul>li:first-child{
    font-size: 1rem;
    color: #D8D8D8;
    font-weight: bold;
}
/*더보기*/
.notice span{
    margin-left: 70%;
    border: 1px solid #d8d8d8;
    font-size: 0.875rem;
    padding: 2px 9px;
}
/*Notice이미지*/
.notice ol li::before{
    content: url(../images/ico_main_news02.png);
    vertical-align: -5px;
    margin-right: 11px;
}
/*인포메이션 박스*/
.information{
    margin-left: 12px;
    margin-top: 15px;
    width: 570px;
    height: 228px;
    /*outline: 1px solid yellow;*/
}
h4{
    width: 534px;
    height: 16px;
    padding-left: 35px;
    /*outline: 1px solid white;*/
    font-size: 1rem;
    color: #d8d8d8;
}
.continfo{
    margin-top: 12px;
    margin-left: 3px;
    width: 174px;
    height: 198px;
    /*outline: 1px solid white;*/
    text-align: center;
    box-sizing: border-box;
    
}
.information li:nth-child(2){
    margin-left: 20px;
}
.information li:nth-child(3){
    margin-left: 24px;
}
.info_area{
    width: 174px;
    height: 139px;
}
.info_area img{
    padding-top: 25px;
}
.txt{
    display: block;
    font-size: 0.75rem;
    margin-top: 29px;
    color: #828283;
}
.txt strong{
    font-size: 0.875rem;
}

/***************************/
.c2{
    height: 146px;
    padding: 0;
}
/*월간 스케줄러*/
.month{
    width: 1176px;
    height: 67px;
    background-color: #000;
    font-size: 0.875rem;
    opacity: .5;
}
.now_month{
    width: 176px;
    height: 66px;
    float: left;
    font-size: 1rem;
    /*outline: 3px solid white;*/
}
.now_month p{
    margin-top: 20px;
    margin-left: 56px;
    }
.now_month img{
   vertical-align: 2px;
   margin-left: 22px;
}
.date{
    width: 972px;
    height: 67px;
    margin-left: 10px;
    display: inline-block;
    /*outline: 2px solid yellow;*/
}

.month li{
    width: 31px;
    height: 67px;
    text-align: center;
}
.month li a{
    font-family: arial;
    color: #e6e6e6;
}
.month li p{
    padding: 0px 0px 3px;
    margin: 25px 8px 22px;
}
/*날짜에 마우스 오버시 색상 변화*/
.month li:hover{
    background-color: #cc0000;
}
.month li>a:hover{
    color: white;
}

/************4.하단영역************/
.i1{
    height: 166px;
    padding: 0;
}
.com_ban{
    position: relative;
    width: 1176px;
    height: 67px;
    overflow: hidden;
    /*outline: 3px dashed yellow;*/
}
/*배너이동버튼*/
.abtn{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 25px;
    height: 24px;
    z-index: 2;/*배너리스트보다 위에 옴!*/
    /*outline: 2px solid red;*/
    
}
/*왼쪽이동버튼*/
.lb{
    left: 10px;
    background: url(../images/btn_m_cal_left.gif) no-repeat;
}
/*오른쪽이동버튼*/
.rb{
    right: -10px;
     background: url(../images/btn_m_cal_right.gif) no-repeat;
}
.com_box{
    width: 1088px;
    /*height: 67px;*/
    margin: 0 44px;
    padding: 18px 0;
    overflow: hidden;
}

/*계열사 로고 박스*/
 #slide2 {
     /*position: relative;*/
     /*사진을 싸고 있는 슬라이드*/
     top: 0;
     left: 0;
     /*모든 슬라이드 5장이 옆으로 나열되도록 
            width 크기를 확보해야한다!!!*/
     width: 500%;
     /*5배크기*/
     /*height: 100%;*/
 }
 #slide2 li{
     /*부모가 5배되었으므로 5등분함!*/
    /* width: 20%;
     height: 100%;*/
 }
 #slide2 li img {
     width: 110px;
     height: 31px;
     padding: 0 23px;
     
     /*이미지는 박스에 맞춤!*/
  /*   width: 100%;
     height: 100%*/;
 }
/**********************************/
.i21{
    height: 101px;
    width: 46%;
    padding: 0;
}
.footer_logo{
    margin-top: 12px;
    
}
.addr{
    display: inline-block;
    width: 395px;
    float: right;
    margin-top: 12px;
    /*vertical-align: 15px;*/
    /*margin-left: 144px;*/
    font-style: normal;
    font-size: 0.8125rem;
    line-height: 20px;
    color: #828283;
    /*outline: 2px solid yellow;*/
}

.i22{
    height: 101px;
    width: 54%;
    padding: 0;
}
.footer_info{
    width: 630px;
    height: 90px;
    /*outline: 2px solid yellow;*/
    padding-left: 10px;
}
.footer_info li{
    margin-top: 16px;
    margin-right: 26px;
}

.footer_info a{
    font-family: 'Nanum Gothic', sans-serif;
    color: #b0b0b1;
    font-size: 0.75rem;
    
}
.footer_info li:nth-child(2) a{
    color: #fff;
    font-size: 0.8125rem;
    font-weight: bold;
}
.footer_info li:nth-child(5){
    margin-right: 18px;
}
.footer_info img{
    width: 53px;
    height: 25px;
    margin-right: -11px;
    margin-top: -7px;
}
#fslink{
    margin-left: 182.5%;
    width: 218px;
    height: 29px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.75rem;
    color: #b0b0b2;
    /*border: 1px solid #6a6a6a;*/
    padding-left: 8px;
    transform: translate(2px, -2px);
    background: url(../images/bg_footer2_link_m.gif) no-repeat;
    /*background-position: 10px 10px;*/
    background-color: #000;
    outline: none;
    border: none;
    margin-top: 10px;
    
}
#fslink strong{
    border-bottom: 1px solid red;
}
/*기존 화살표 보이지 않게*/
select{
    appearance: none;
}







