@charset "utf-8";
/* 1차 포트폴리오 미디어쿼리 - media.css */

/*
    max-width를 사용할 경우 큰 사이즈에서 작은 사이즈 순으로
    아래쪽으로 내려가면서 코딩해야 한다!
    (같은 선택자일 경우 덮어 쓰기로 적용되기 때문이다)
*/


/*500px 이하 사이즈*/
@media only screen and (max-width:500px){
 
    /*1.글자크기변경*/
    html{
        font-size: 16px;
    }
            /*col사이즈 100%*/
         /*   .col-1,.col-2,.col-3,.col-4,.col-5,
            .col-6,.col-7,.col-8,.col-9,.col-10,
            .col-11,.col-12{
                width:100%;
            }
        */
    
    /*2.모바일 사이즈 가로스크롤 없애기*/
    html,body{
        width: 100%;
        background-color: #212121;
        overflow-x: hidden;
    }
    
    /*3.상단영역 높이 변경*/
    .t1{
        height: 65px;
        padding: 0;
        background-color: #000;
      }
    #logo{
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 30%;
        text-align: center;
    }
    img.logo{
        width: 95px;
        height: 41px;
        margin: 12px 0;
    }
    /* 메뉴 안보이게 하기*/
    .tmenu,.gnb{
        display: none;
    }
    /* 햄버거, 공연전체보기 버튼 보이기*/
    #ham,#magni{
        display: block;
    }
    /* 메뉴(nav,gnb)박스 사이즈 변경*/
    #t1n{
        width: 100%;
    }
/*****************************************************/
/*빅 배너 박스 사이즈 변경*/
 .col-5 {
    padding: 30px 0;
    width: 100%;
}
#slide,.gnbline,.indic{
    display: none;
}
.big_ban{
    margin-left: 0px;
    margin-top: 0px;
    width: 444px;
    height: 281px;
    /*background-color: aqua;*/
    /*opacity: .3;*/
     /*overflow: hidden;*/
}
/*버튼*/
.indic2{
    margin: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 15px;
    bottom: 10px;
    width: 120px;
    height: 21px;
}
/******************스몰배너**************************/
/*스몰 배너 박스 사이즈 변경*/
#small_ban{
    width: 100%;
    margin: 0;
    padding: 0;
}
.b1{
    height: 100%;        
}

/*공연전체보기 버튼*/
.all{
    display: none;
}
/*포스터 메뉴*/
.pli1{
    margin-top: 0px;
    box-sizing: border-box;
    padding: 0 15px;
}
.pli2{
    margin-top: 0px;
    /*outline: 2px solid lime;*/
}
.plist{
    width: 100%;
    height: 147px;
    padding: 0 0px;
    margin: 0 0 15px;
    overflow: hidden;
}
.plist ul > li{
    float: left;
    padding: 0 0px;
    cursor: pointer;
}
.pli1 ul>li:nth-child(1){
    margin-top: 0px;
    margin-left: 0px;
}

.pli1 ul>li:nth-child(2){
    /*margin-left: 0px;*/
    margin: 0 15px;
}
.pli1 ul>li:nth-child(3){
    margin-top: 0px;
    margin-left: 0px;
}
.pli2 ul>li:nth-child(1){
    margin-top: 0px;
    margin-left: 0px;
}
.pli2 ul>li:nth-child(2){
    /*margin-left: 0px;*/
    margin: 0 15px;
}
.pli2 ul>li:nth-child(3){
    margin-top: 0px;
    margin-left: 0px;
}
.plist>ul{
    width: 345px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.plist ul li{
    position: relative;
}
/*포스터 이미지 크기*/
.plist img{
    width: 105px;
    height: 140px;
    /*opacity: .95;*/
}
/*포스터에 오버되는 박스*/
ol.movtxt{
   display: none;
}
.movtxt li{
    display: none;
}
.movtxt li:last-child img{
    display: none;
}
/*6번째 스몰배너 view이미지 위치 조정*/
.view{
    margin-top: 0px;
}
/*마우스 오버시 .movtxt 올라오기*/
.plist>ul>li:hover .movtxt{
    opacity: 0;
  }
/**************************************/
/*가로배너 없애기*/
    .col-4{
        display: none;
    }
/**************공지사항********************/    
.c1{
    width: 100%;
    height: 100%;
    padding: 0;
}
/*공지사항 박스*/
.notice{
   display: none;
}
.notice_m{
    display: block;
}
/*********인포메이션***************/
/*인포메이션 박스*/
.information{
    width: 384px;
    height: 135px;
    margin: 5px 15px 0;
    padding: 0;
}
h4{
    display: none;
}
.continfo{
    width: 128px;
    height: 135px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.information li:nth-child(2){
    margin-left: 0px;
}
.information li:nth-child(3){
    margin-left: 0px;
}
.info_area{
    display: none;
}
.info_area2{
    display: block;
}
.info_area img{
    display: none;
}
.txt{
    display: none;
}
/*******sns big 아이콘**********/
.c2{
    height: 100%;        
}
.month{
    display: none;        
}
.sns_big{
    display: block;    
}
/**********계열사 로고 박스***************/
.i1{
    height: 138px;
    padding: 0;
}
.com_ban{
    position: relative;
    width: 414px;
    height: 138px;
    /*margin: 46px 0;*/
    
    overflow: hidden;
    /*outline: 3px dashed yellow;*/
}
/*배너이동버튼*/
.abtn{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 25px;
    height: 24px;
    z-index: 2;/*배너리스트보다 위에 옴!*/
    /*outline: 2px solid red;*/
    
}
/*왼쪽이동버튼 숨기기*/
.lb{
    display: none;
}
/*오른쪽이동버튼 숨기기*/
.rb{
    display: none;
}
.com_box{
    width: 633px;
    height: 46px;
    margin: 0 23px;
    padding: 46px 0;
    overflow: hidden;
}

/*계열사 로고 박스*/
 #slide2 {
     top: 0;
     left: 0;
     width: 500%;
 }
 #slide2 li{
     /*부모가 5배되었으므로 5등분함!*/
    /* width: 20%;
     height: 100%;*/
 }
 #slide2 li img {
     width: 165px;
     height: 46px;
     padding: 0 23px;
}
#slide2 li:nth-child(2) img{
    width: 140px;        
}
/***************하단영역*********************/
.i21{
    width: 100%;
    height: 176px;
    padding: 10px 0 10px 15px
}
.i22{
    width: 100%;
    height: 105px;
    padding: 0;
}
 .footer_logo{
    margin-top: 0px;
     width: 94px;
     height: 40px;
    
}
.addr{
    display: inline-block;
    width: 325px;
    float: none;
    margin-top: 0px;
    font-style: normal;
    font-size: 0.6875rem;
    line-height: 16px;
    color: #4F5157;
    font-family: 'Dotum', '돋움', sans-serif;
}
.addr span{
    font-weight: normal;
}
    
.footer_info{
    display: none;
}
.footer_info img{
    display: none;
}
#fslink{
    display: none;
}   
.footer_info_m{
        display: block;
}    
.footer_ban,.quick{
    display: block;
}
.footer_side,.btn_eng{
    display: block;
}    
    
    
}/*500px 이하 미디어쿼리*/













